body {
    background: linear-gradient(to right, #dfe9f3, #ffffff);
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.auth-box {
    background-color: #fff;
    padding: 2rem 2.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
